.nav {
    display: flex;
    justify-content: center;
    margin: 2rem;
      
}

.nav h1 {
    color: blue;
    display: flex;
    margin: 1rem;
    padding: 10px;
    border: black 1px solid;
    
   
}

