:root {
    --white: #ffffff;
    --blue: #5c9ead;
    --sapphire: #326273;
    --copper: #a07178;
    --notwhite: #eeeeee;
   }

.nav {
    display: flex;
    justify-content: center;
    margin: 2rem;
      
}

.nav h1 {
    color: var(--copper);
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 10px;
    cursor: pointer;
   
}

