:root {
    --white: #ffffff;
    --blue: #5c9ead;
    --sapphire: #326273;
    --copper: #a07178;
    --notwhite: #eeeeee;
   }
   

.title {
    margin: 3rem;
    font-family: 'Press Start 2P';
    color: var(--blue);
   
}

#type-select {
    background-color: var(--white);
}

#bug {
    color: greenyellow;
}
