:root {
    --white: #ffffff;
    --blue: #5c9ead;
    --sapphire: #326273;
    --copper: #a07178;
    --notwhite: #eeeeee;

    /* PKMN Type Colors */

    --bug: greenyellow;
    --dark: #261217;
    --dragon: #3c0261;
    --electric: yellow;
    --fairy: pink;
    --fighting: orange;
    --fire: red;
    --flying: skyblue;
    --ghost: #180524;
    --grass: green;
    --ground: brown;
    --ice: aqua;
    --normal: grey;
    --poison: purple;
    --psychic: hotpink;
    --rock: slategray;
    --steel: steelblue;
    --water: blue;

}


.title {
    margin: 3rem;
    font-family: 'Press Start 2P';
    color: var(--blue);

}

#type-select {
    background-color: var(--white);
    font-family: 'Press Start 2P';
}


/* PKMN Type Colors (dropdown) */

#bug {
    color: var(--bug);
    font-weight: bold;
}

#dark {
    color: var(--dark);
    font-weight: bold;
}

#dragon {
    color: var(--dragon);
    font-weight: bold;
}

#electric {
    color: var(--electric);
    font-weight: bold;
}

#fairy {
    color: var(--fairy);
    font-weight: bold;
}

#fighting {
    color: var(--fighting);
    font-weight: bold;
}

#fire {
    color: var(--fire);
    font-weight: bold;
}

#flying {
    color: var(--flying);
    font-weight: bold;
}

#ghost {
    color: var(--ghost);
    font-weight: bold;
}

#grass {
    color: var(--grass);
    font-weight: bold;
}

#ground {
    color: var(--ground);
    font-weight: bold;
}

#ice {
    color: var(--ice);
    font-weight: bold;
}

#normal {
    color: var(--normal);
    font-weight: bold;
}

#poison {
    color: var(--poison);
    font-weight: bold;
}

#psychic {
    color: var(--psychic);
    font-weight: bold;
}

#rock {
    color: var(--rock);
    font-weight: bold;
}

#steel {
    color: var(--steel);
    font-weight: bold;
}

#water {
    color: var(--water);
    font-weight: bold;
}

/* Weaknesses Boxes */

.weaknesses ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-weight: bold;
    list-style-type: none;
}

.weaknesses li {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    border-radius: 50px;
    margin: 2rem;
    padding: 1rem;
    font-size: xx-large;
    width: 20rem;
}

/* PKMN Type colors (weaknesses results) */

.bugType {
    background-color: var(--bug);
}

.darkType {
    background-color: var(--dark);
}

.dragonType {
  background-color: var(--dragon);
}

.electricType {
    background-color: var(--electric);
}

.fairyType {
    background-color: var(--fairy);
}

.fightingType {
    background-color: var(--fighting);
}

.fireType {
    background-color: var(--fire);
}

.flyingType {
    background-color: var(--flying);
}

.ghostType {
    background-color: var(--ghost);
}

.grassType {
    background-color: var(--grass);
}

.groundType {
    background-color: var(--ground);
}

.iceType {
    background-color: var(--ice);
}

.normalType {
    background-color: var(--normal);
}

.poisonType {
    background-color: var(--poison);
}

.psychicType {
    background-color: var(--psychic);
}

.rockType {
    background-color: var(--rock);
}

.steelType {
    background-color: var(--steel);
}

.waterType {
    background-color: var(--water);
}