:root {
 --white: #ffffff;
 --blue: #5c9ead;
 --sapphire: #326273;
 --copper: #a07178;
 --notwhite: #eeeeee;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: var(--notwhite);
  margin: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
 
}